/****Responsivo da página****/

@media screen and (max-width: 992px) {
    .about-me {
        padding: 70px 0;
    }
    .wq-all-imgs {
        display: none;
    }
    .wq-all-imgs-mobile {
        display: block;
        margin-bottom: 50px;
    }
    .banner-conteudo h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .ui-design {
        padding: 60px 0;
    }
    .modal-content .navbar-nav .nav-item {
        margin: 20px 0;
    }
    .menu-header.row,
    header {
        padding: 10px 0;
    }
    .btn-menu {
        display: none;
        display: block;
    }
    .btn,
    .btn-whatsapp {
        padding: 14px 18px;
        font-size: 13px;
    }
    .banner {
        padding: 90px 0 65px;
    }
    .banner-conteudo p,
    .wq-title-01 p,
    .about-me.light .wq-title-01.dark p {
        font-size: 16px;
        line-height: 25px;
    }
    .services-group {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .service-item em {
        display: none;
    }
    .service-item {
        padding: 0;
        position: relative;
        left: auto;
        top: auto;
    }
    .services-group a figure {
        display: none;
    }
    .service-item {
        width: 100%;
    }
    .service-item>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .service-item div>img {
        margin-bottom: 0;
        margin-right: 8px;
    }
    .services-group a {
        margin-bottom: 15px;
    }
    .services-group a:hover .service-item p {
        margin-bottom: 0px;
    }
    .services-group a:hover .service-item p {
        color: #00FFFF;
    }
    .services-group {
        margin-top: 40px;
        border: none;
    }
    .banner .row {
        align-items: baseline;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .services,
    .contact-me {
        padding: 60px 0;
    }
    footer p {
        font-size: 13px;
        line-height: 17px;
    }
    footer {
        padding: 20px 0;
    }
    .services-item {
        padding: 25px 15px;
        border: .5px solid #4305949e;
    }
    .wrapper-services {
        border: .5px solid #4305949e;
    }
    .banner-all-pages {
        padding: 100px 0 30px;
    }
    .wq-title-01 h3 {
        font-size: 12px;
        line-height: 20px;
    }
    .line-divider img {
        display: block;
        width: 100%;
        height: 1px;
    }
    .line-divider {
        margin-top: 0px;
    }
    .logos {
        padding: 45px 0;
    }
    .about-me.light .row {
        align-items: baseline!important;
    }
    .form-detalhe-content figure {
        display: none;
    }
    .form-content {
        padding: 0;
    }
    .filter-case li a img {
        height: 25px;
    }
    .service-description,
    .apresentation-case {
        padding: 50px 0;
    }
    .scroll-top-btn {
        right: 10px;
        bottom: 10px;
        height: 25px;
        width: 25px;
    }
}


/***** Tamanho para smartphones na vertical *****/

@media screen and (max-width: 576px) {
    .wrapper-services {
        grid-template-columns: 1fr;
    }
    .row>div {
        margin-bottom: 30px;
    }
    .logos .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        margin-top: 40px;
    }
    .filter-case {
        justify-content: flex-start;
    }
    .filter-case li {
        margin-left: 0px;
        margin-right: 15px;
    }
}


/***** Tamanho para smartphones na horizontal *****/

@media screen and (max-width: 768px) and (min-width: 577px) {
    .wrapper-services {
        border: none;
        grid-template-columns: 1fr 1fr;
    }
    .row>div {
        margin-bottom: 30px;
    }
    .logos .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        margin-top: 40px;
    }
    .about-me {
        padding: 70px 0;
    }
    .filter-case {
        justify-content: flex-start;
    }
    .filter-case li {
        margin-left: 0px;
        margin-right: 15px;
    }
}


/***** Tamanho para tablets na vertical *****/

@media screen and (max-width: 1099px) and (min-width: 769px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .nav-item {
        margin: 0px 15px;
    }
    .btn,
    .btn-whatsapp {
        padding: 14px 18px;
        font-size: 13px;
    }
    .banner-conteudo h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .banner-conteudo p,
    .wq-title-01 p {
        font-size: 16px;
        line-height: 25px;
    }
    .wrapper-services {
        border: none;
        grid-template-columns: 1fr 1fr;
    }
    .logos .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        margin-top: 40px;
    }
    .wq-all-imgs {
        display: none;
    }
    .wq-all-imgs-mobile {
        display: block;
        margin-bottom: 50px;
    }
    .about-me.light .row {
        align-items: baseline!important;
    }
    .about-me {
        padding: 70px 0;
    }
}


/***** Tamanho para tablets na horizontal *****/

@media screen and (max-width: 1200px) and (min-width: 1100px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
    .wq-ui-imgs-carrousel.mobile {
        display: block;
    }
    .wq-ui-imgs.desktop {
        display: none;
    }
    .ui-design {
        padding: 60px 0;
    }
    .nav-item {
        margin: 0px 20px;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .banner-conteudo p,
    .wq-title-01 p {
        font-size: 16px;
        line-height: 25px;
    }
    .about-me {
        padding: 70px 0;
    }
}


/***** Monitores medios  *****/

@media screen and (max-width: 1499px) and (min-width: 1300px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
    .wq-ui-imgs figure:nth-child(3) {
        transform: translateY(65%);
    }
    .ui-design {
        padding: 160px 0;
    }
    .nav-item {
        margin: 0px 20px;
    }
}


/***** Monitores extra grandes  *****/

@media screen and (max-width: 1699px) and (min-width: 1500px) {
    .wq-ui-imgs figure:nth-child(3) {
        transform: translateY(65%);
    }
    .ui-design {
        padding: 160px 0;
    }
    .nav-item {
        margin: 0px 20px;
    }
}


/***** Monitores extra grandes  *****/

@media screen and (max-width: 2500px) and (min-width: 1920px) {}

@media screen and (max-width: 3000px) and (min-width: 2500px) {}


/****Responsivo da página****/

@media screen and (max-width: 1350px) and (min-width: 1200px) {
    .wq-ui-imgs figure:nth-child(3) {
        transform: translateY(32%);
    }
    .ui-design {
        padding: 145px 0 60px;
    }
}