/****Responsivo da página****/

@media screen and (max-width: 992px) {
    .about-me {
        padding: 70px 0;
    }
    .wq-all-imgs {
        display: none;
    }
    .wq-all-imgs-mobile {
        display: block;
        margin-bottom: 50px;
    }
    .banner-conteudo h1 {
        font-size: 35px;
        line-height: 45px;
    }
}


/***** Tamanho para smartphones na vertical *****/

@media screen and (max-width: 576px) {}


/***** Tamanho para smartphones na horizontal *****/

@media screen and (max-width: 768px) and (min-width: 577px) {}


/***** Tamanho para tablets na vertical *****/

@media screen and (max-width: 1099px) and (min-width: 769px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
}


/***** Tamanho para tablets na horizontal *****/

@media screen and (max-width: 1200px) and (min-width: 1100px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
}


/***** Monitores medios  *****/

@media screen and (max-width: 1499px) and (min-width: 1300px) {
    .wq-all-imgs figure:nth-child(1) {
        width: 360px;
        height: 360px;
        position: relative;
        z-index: 5;
    }
    .wq-all-imgs figure:nth-child(2) {
        width: 180px;
        height: 180px;
        left: 15px;
        top: 20px;
        z-index: 6;
    }
    .wq-all-imgs figure:nth-child(3) {
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 10px;
        z-index: 4;
    }
    .wq-all-imgs figure:nth-child(4) {
        width: 220px;
        height: 220px;
        right: 50px;
        bottom: -25px;
        z-index: 6;
    }
    .wq-title-01 h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .wq-title-01 p {
        font-size: 18px;
        line-height: 30px;
    }
}


/***** Monitores extra grandes  *****/

@media screen and (max-width: 1699px) and (min-width: 1500px) {}


/***** Monitores extra grandes  *****/

@media screen and (max-width: 2500px) and (min-width: 1920px) {}

@media screen and (max-width: 3000px) and (min-width: 2500px) {}


/****Responsivo da página****/