@import url('icons/flaticon.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #212121;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    overflow-y: scroll;
}

p {
    color: #212121;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 13px;
}

.container-fluid {
    max-width: 1700px;
}

.container {
    max-width: 1400px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #cecece;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #686868;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)
}


/******LOGO******/

.logo img {
    display: block;
    height: 37px;
    width: auto;
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.25em;
    border: 2px solid transparent;
    transition: all .2s linear;
    padding: 15px 20px;
}

.btn span {
    margin-left: 10px;
}

.btn-type-01 {
    color: #00FFFF;
    border-color: #00FFFF;
}

.btn-type-01:hover {
    background-color: #00FFFF;
    color: #000121;
}


/******LOGO******/


/******HEADER******/

header {
    padding: 25px 0;
    background: linear-gradient(180deg, rgba(1, 2, 31, 0.9) 0%, rgba(1, 2, 31, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-item {
    margin-left: 10px;
}

.nav-link,
.dropdown-toggle,
.dropdown-item {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    transition: all .2s linear;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #FFFFFF!important;
}

.nav-link:hover,
.dropdown-toggle:hover,
.dropdown-item:hover {
    color: #00FFFF!important;
}

.dropdown-toggle::after {
    transition: all .2s linear;
}

.dropdown-toggle:hover::after {
    color: #00FFFF!important;
}

.dropdown-item {
    color: #212121!important;
}

.nav-item {
    margin: 0px 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.dropdown-toggle::after {
    transition: all .2s linear;
    color: #FFFFFF;
    text-shadow: 0px 1px #FFFFFF;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.dropdown-item {
    padding: 5px;
    background-color: transparent!important;
}

.dropdown-menu ul {
    padding: 10px;
}


/******HEADER******/


/******wq-title-01******/

.wq-title-01 h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    letter-spacing: 0.2em;
    color: #00FFFF;
    text-transform: uppercase;
}

.wq-title-01 h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.wq-title-01 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.wq-title-01.dark h3 {
    color: #8F00FF;
}

.wq-title-01.dark h2,
.wq-title-01.dark p {
    color: 000121;
}

.btn-type-02
/******wq-title-01******/


/******Banner******/

.banner {
    position: relative;
    padding: 150px 0 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(img/banner.png);
    background-color: #00023A;
}

.banner>.row {
    position: relative;
    z-index: 55;
}

.banner-conteudo h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.banner-conteudo p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 40px 0;
}

.banner-conteudo {
    max-width: 90%;
}

.services-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 0 0 auto;
    border: .5px solid #4305949e;
}

.banner .row {
    align-items: center;
}

.services-group a>figure img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all .2s linear;
}

.services-group a:hover>figure img {
    opacity: 1;
}

.services-group a {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.services-group a figure {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.services-group a figure::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: .5px solid #4305949e;
    position: absolute;
    transition: all .2s linear;
    left: 0;
    top: 0;
}

.services-group a:hover figure::before {
    border-color: transparent;
}

.service-item {
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.service-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    transition: all .2s linear;
}

.services-group a:hover .service-item p {
    margin-bottom: 15px;
}

.service-item em {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #00FFFF;
    transition: all .2s linear;
    opacity: 0;
    margin-bottom: -30px;
}

.services-group a:hover .service-item em {
    opacity: 1;
    margin-bottom: 0;
}

.service-item em span {
    margin-left: 10px;
}

.service-item div>img {
    height: 23px;
    width: auto;
    margin-bottom: 10px;
}

.banner {
    position: relative;
}

.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(img/blur-header.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 40;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container-fluid {
    position: relative;
    z-index: 60;
}


/******Banner******/


/******about-me******/

.about-me {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
}

.about-me .row {
    align-items: center;
}

.wq-all-imgs figure img {
    display: block;
    width: 100%;
    height: auto;
}

.wq-all-imgs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 40px;
}

.wq-all-imgs figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50%;
    filter: drop-shadow(19px 19px 58px rgba(0, 4, 107, 0.2));
}

.wq-all-imgs figure:nth-child(1) {
    width: 405px;
    height: 405px;
    position: relative;
    z-index: 5;
}

.wq-all-imgs figure:nth-child(2),
.wq-all-imgs figure:nth-child(3),
.wq-all-imgs figure:nth-child(4) {
    position: absolute;
}

.wq-all-imgs figure:nth-child(2) {
    width: 220px;
    height: 220px;
    left: 50px;
    top: 2px;
    z-index: 6;
}

.wq-all-imgs figure:nth-child(3) {
    width: 225px;
    height: 225px;
    left: 0;
    bottom: 45px;
    z-index: 4;
}

.wq-all-imgs figure:nth-child(4) {
    width: 245px;
    height: 245px;
    right: 100px;
    bottom: -50px;
    z-index: 6;
}

.wq-all-imgs-mobile {
    display: none;
}

.wq-all-imgs-mobile figure img {
    display: block;
    width: 100%;
    height: auto;
}


/******about-me******/


/******ui-design******/

.ui-design {
    padding: 350px 0;
}


/******ui-design******/