@import url('icons/flaticon.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #212121;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    overflow-y: scroll;
}

p {
    color: #212121;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 13px;
}

.container-fluid {
    max-width: 1700px;
}

.container {
    max-width: 1400px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #cecece;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #686868;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)
}


/******LOGO******/

.logo img {
    display: block;
    height: 37px;
    width: auto;
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.25em;
    border: 2px solid transparent;
    transition: all .2s linear;
    padding: 15px 20px;
    height: 50px;
}

.btn span {
    margin-left: 10px;
}

.btn-type-01 {
    color: #00FFFF;
    border-color: #00FFFF;
}

.btn-type-01:hover {
    background-color: #00FFFF;
    color: #000121;
}

.wq-title-01 {
    max-width: 810px;
}

.btn-type-02:hover {
    background-color: #00046B;
    color: #fff;
}

.btn-whatsapp {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.25em;
    border-radius: 0.25rem;
    transition: all .2s linear;
    padding: 15px 20px;
    background-color: #fff;
    color: #8F00FF;
    border: 2px solid #fff;
    height: 50px;
}

.btn-whatsapp span {
    font-size: 19px;
    margin-right: 10px;
}

.btn-whatsapp:hover {
    background-color: #8F00FF;
    border-color: #8F00FF;
    color: #fff;
}


/******LOGO******/


/******HEADER******/

header {
    padding: 25px 0;
    background: linear-gradient(180deg, rgba(1, 2, 31, 0.9) 0%, rgba(1, 2, 31, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-item {
    margin-left: 10px;
}

.nav-link,
.dropdown-toggle,
.dropdown-item {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    transition: all .2s linear;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #FFFFFF!important;
}

.nav-link:hover,
.dropdown-toggle:hover,
.dropdown-item:hover {
    color: #00FFFF!important;
}

.dropdown-toggle::after {
    transition: all .2s linear;
}

.dropdown-toggle:hover::after {
    color: #00FFFF!important;
}

.dropdown-item {
    color: #212121!important;
}

.nav-item {
    margin: 0px 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.dropdown-toggle::after {
    transition: all .2s linear;
    color: #FFFFFF;
    text-shadow: 0px 1px #FFFFFF;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.dropdown-item {
    padding: 5px;
    background-color: transparent!important;
}

.dropdown-menu ul {
    padding: 10px;
}


/******HEADER******/


/******wq-title-01******/

.wq-title-01 h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    letter-spacing: 0.2em;
    color: #00FFFF;
    text-transform: uppercase;
}

.wq-title-01 h2 {
    font-weight: 400;
    font-size: 39px;
    line-height: 50px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.wq-title-01 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.wq-title-01.dark h3 {
    color: #8F00FF;
}

.wq-title-01.dark h2,
.wq-title-01.dark p {
    color: #00046B;
}

.btn-type-02 {
    border-color: #00046B;
    color: #00046B;
}

.mobile {
    display: none;
}

.line-divider {
    display: block;
    margin-top: 130px;
}

.line-divider img {
    display: block;
    width: 100%;
    height: auto;
}


/******wq-title-01******/


/******Banner******/

.banner,
.banner-all-pages {
    position: relative;
    padding: 150px 0 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(img/banner.png);
    background-color: #00023A;
}

.banner>.row {
    position: relative;
    z-index: 55;
}

.banner-conteudo h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.banner-conteudo p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 40px 0;
}

.banner-conteudo {
    max-width: 90%;
}

.services-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 0 0 auto;
    border: .5px solid #4305949e;
}

.banner .row {
    align-items: center;
}

.services-group a>figure img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all .2s linear;
}

.services-group a:hover>figure img {
    opacity: 1;
}

.services-group a {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.services-group a figure {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.services-group a figure::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: .5px solid #4305949e;
    position: absolute;
    transition: all .2s linear;
    left: 0;
    top: 0;
}

.services-group a:hover figure::before {
    border-color: transparent;
}

.service-item {
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.service-item p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    transition: all .2s linear;
}

.services-group a:hover .service-item p {
    margin-bottom: 15px;
}

.service-item em {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #00FFFF;
    transition: all .2s linear;
    opacity: 0;
    margin-bottom: -30px;
}

.services-group a:hover .service-item em {
    opacity: 1;
    margin-bottom: 0;
}

.service-item em span {
    margin-left: 10px;
}

.service-item div>img {
    height: 23px;
    width: auto;
    margin-bottom: 10px;
}

.banner {
    position: relative;
}

.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(img/blur-header.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 40;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container-fluid {
    position: relative;
    z-index: 60;
}


/******Banner******/


/******banner-all-pages******/

.banner-all-pages {
    padding-bottom: 40px;
}

.banner-all-pages h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    /* identical to box height, or 194% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #00FFFF;
    margin: 0 10px 10px 0;
}

.banner-all-pages ol {
    margin-bottom: 10px;
}

.banner-all-pages ol li a,
.banner-all-pages ol li,
.breadcrumb-item.active {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.banner-all-pages .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/******banner-all-pages******/


/******about-me******/

.about-me {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
}

.about-me.light {
    background-color: #fff;
}

.about-me.light {
    padding-bottom: 0px;
}

.about-me.light .wq-title-01.dark p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #00023A;
}

.about-me .row {
    align-items: center;
}

.wq-all-imgs figure img {
    display: block;
    width: 100%;
    height: auto;
}

.wq-all-imgs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 40px;
}

.wq-all-imgs figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50%;
    filter: drop-shadow(19px 19px 58px rgba(0, 4, 107, 0.2));
}

.wq-all-imgs figure:nth-child(1) {
    width: 405px;
    height: 405px;
    position: relative;
    z-index: 5;
}

.wq-all-imgs figure:nth-child(2),
.wq-all-imgs figure:nth-child(3),
.wq-all-imgs figure:nth-child(4) {
    position: absolute;
}

.wq-all-imgs figure:nth-child(2) {
    width: 220px;
    height: 220px;
    left: 50px;
    top: 2px;
    z-index: 6;
}

.wq-all-imgs figure:nth-child(3) {
    width: 225px;
    height: 225px;
    left: 0;
    bottom: 45px;
    z-index: 4;
}

.wq-all-imgs figure:nth-child(4) {
    width: 245px;
    height: 245px;
    right: 100px;
    bottom: -50px;
    z-index: 6;
}

.wq-all-imgs-mobile {
    display: none;
}

.wq-all-imgs-mobile figure img {
    display: block;
    width: 100%;
    height: auto;
}


/******about-me******/


/******ui-design******/

.ui-design {
    padding: 200px 0;
}

.wq-ui-imgs {
    width: 100%;
    height: 485px;
    position: relative;
}

.wq-ui-imgs figure img {
    display: block;
    width: 100%;
    height: auto;
}

.wq-ui-imgs figure:first-child {
    position: absolute;
    width: 60%;
    height: auto;
    top: 0;
    transform: translateY(-65%);
    right: 0px;
    z-index: 88;
}

.wq-ui-imgs figure:nth-child(2) {
    width: 80%;
    height: auto;
    margin: 0 auto 0 30px;
}

.wq-ui-imgs figure:nth-child(3) {
    position: absolute;
    width: 70%;
    height: auto;
    bottom: 0;
    right: 0px;
    z-index: 99;
    transform: translateY(85%);
}

.wq-ui-imgs-carrousel figure img {
    display: block;
    width: 100%;
    height: auto;
}


/******ui-design******/


/******services******/

.services {
    padding: 165px 0;
    background-color: #000121;
}

.services.light {
    position: relative;
    z-index: 77;
    padding: 125px 0;
    background-color: #FFF;
}

.wrapper-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 60px;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 25px;
    border: 1px solid #4305949e;
    border-right: none;
    transition: all .2s linear;
}

.services-item:hover {
    background-color: #4305949e;
}

.wrapper-services .services-item:last-child {
    border-right: 1px solid #4305949e;
}

.services-item span {
    margin-bottom: 8px;
}

.services-item span img {
    display: block;
    height: 18px;
    width: auto;
}

.services-item h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 15px;
    transition: all .2s linear;
}

.services-item p {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 40px;
    transition: all .2s linear;
}

.services.light .services-item:hover {
    background-color: #00046B;
}

.services.light .services-item p,
.services.light .services-item h3 {
    color: #00046B;
}

.services.light .services-item:hover p,
.services.light .services-item:hover h3 {
    color: #fff;
}

.services-item em {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #00FFFF;
    transition: all .2s linear;
}

.services-item em span {
    margin-bottom: 0;
    margin-left: 8px;
}

.wrapper-type-02 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/******services******/


/******contact-me******/

.content-detalhe {
    position: relative;
    overflow: hidden;
}

.content-detalhe .container-fluid,
.content-detalhe .container {
    position: relative;
    z-index: 55;
}

.contact-me {
    padding: 130px 0;
}

.detalhe-img {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.detalhe-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.btn-menu {
    display: none;
}

.slick-dots li button {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #333;
    opacity: 0.5;
    transition: all 0.3s;
    margin: 0!important;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 10px;
    position: relative;
    z-index: 999;
}

.slick-dots li.slick-active button {
    opacity: 1;
    background: #8F00FF;
    width: 30px;
    box-shadow: 0 8px 60px -6px rgb(123 94 234 / 70%);
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 0;
    cursor: pointer;
}


/******contact-me******/

.modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100vh;
}

.modal-content {
    border: none;
    background-color: transparent;
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(img/banner.png);
    background-color: #00023A;
    height: 100vh;
}

.modal-content .container-fluid {
    height: 100vh;
}

.menu-header.row {
    justify-content: space-between;
    padding: 25px 0;
    margin: 0;
}

.modal-content .navbar-nav {
    height: calc(100% - 97px);
    justify-content: center;
    align-items: center;
}

.modal-content .navbar-nav .nav-item {
    margin: 25px 0;
}


/******footer******/

footer {
    padding: 33px 0;
    background-color: #000121;
}

footer p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}


/******footer******/


/******logos******/

.logos {
    padding: 120px 0;
}

.logos .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 80px;
}

.logos .wrapper figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos .wrapper figure img {
    display: block;
    width: 80%;
    height: auto;
}


/******logos******/


/******service-description******/

.service-description {
    padding: 80px 0;
    background-color: #000121;
}

.content-service-description>ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px!important;
}

.content-service-description>ul li {
    margin-right: 20px;
}

.content-service-description>ul li a img {
    display: block;
    height: 55px;
    width: auto;
}

.content-service-description>ul li a {
    display: block;
    transition: all .2s linear;
    opacity: 0.1;
}

.content-service-description>ul li a.active,
.content-service-description>ul li a:hover {
    opacity: 1;
}

.content-service-description h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.content-service-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.content-service-description p span {
    display: block;
    color: #00FFFF;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 30px;
    flex-wrap: wrap;
}

.btns>a {
    margin: 5px 15px 5px 0;
    border-radius: 0;
}

.form-content {
    padding: 40px 50px;
    position: relative;
    z-index: 77;
}

.form-detalhe-content {
    position: relative;
}

.form-detalhe-content figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: auto;
}

.form-detalhe-content figure img {
    display: block;
    width: 100%;
    height: 100%;
}

.teste {
    background-color: #fff;
    display: block;
    width: 100%;
    height: 710px;
}


/******service-description******/


/******cases-listagem******/

.cases-listagem {
    padding: 80px 0;
    background-color: #000121;
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-case {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-case li {
    margin-left: 15px;
}

.filter-case li a {
    transition: all .2s linear;
}

.filter-case li a:hover {
    opacity: 0.5;
}

.filter-case li a img {
    display: block;
    height: 46px;
    width: auto;
}

.content-titulo .row {
    align-items: center;
}

.content-titulo {
    margin-bottom: 60px;
}

.case-item {
    border: .5px solid #43059463;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    transition: all .2s linear;
}

.case-item:hover {
    background-color: #8F00FF;
}

.case-item figure img,
.case-item figure {
    display: block;
    width: 100%;
    height: auto;
}

.case-item h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.case-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.case-item em {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    color: #00FFFF;
    transition: all .2s linear;
}

.case-item>div {
    padding: 25px;
}

.content-service-description div>span {
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    letter-spacing: 0.2em;
    color: #00FFFF;
    margin-top: 30px;
}

.btn.btn-type-01.scroll span {
    margin-right: 10px;
    margin-left: auto;
    transform: rotate(90deg);
}

.apresentation-case {
    padding: 80px 0;
    background-color: #000121;
}

.apresentation-case figure img {
    display: block;
    width: 100%;
    height: auto;
}

.fale-comigo-services {
    padding-top: 60px;
}

.service-description {
    background-size: cover;
    background-repeat: no-repeat;
}

.btn.btn-type-01.light {
    border-color: #fff;
    color: #fff;
}

.btn.btn-type-01.light:hover {
    color: #000121;
    background-color: #fff;
}


/******cases-listagem******/

.scroll-top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}

.scroll-top-btn:hover {
    opacity: .5;
}

.scroll-top-btn img {
    display: block;
    width: 100%;
    height: auto;
}